body {
  background-image: url("/images/crew/background-crew-desktop.jpg");
}

#crew_desc {
  padding-top: 115px;
}

#crew_desc :nth-child(1) {
  font-size: 40px;
  color: #f5deb347;
}

#crew_desc :nth-child(2) {
  padding-top: 25px;
  font-size: 60px;
}

#crew_desc :nth-child(3) {
  line-height: 30px;
  padding-top: 30px;
  font-size: 20px;
}

.crew_links {
  display: flex;
  padding-top: 115px;
  gap: 20px;
}

.crew_links > button {
  border-radius: 50%;
  width: 20px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

#crew_desc :nth-child(1) {
  animation: come 0.5s ease-out;
}

#crew_desc :nth-child(2) {
  animation: come 1s ease-in;
}

#crew_desc :nth-child(3) {
  animation: come 1.5s ease-out;
}
#crewImage > img {
  animation: grow 2s ease-in-out;
}
@keyframes come {
  from {
    transform: scale(0) translate(-100%, -100%);
  }
  to {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes grow {
  from {
    transform: scale(0) translate(50%, 50%);
  }
  to {
    transform: scale(1) translate(0, 0);
  }
}
